<!DOCTYPE HTML>
<html>
<head lang="en">
<meta charset="UTF-8" />
<title></title>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<audio controls="controls" autoplay="autoplay">
		<source src="/music/Count on Me-Connie Talbot.mp3" />
		<source src="/music/Don't Worry Be Happy-Holly Dolly.mp3" />
		<source src="/music/End of a Century-Rockabye Baby.mp3" />
		<source src="/music/Häschenparty-Schnuffel.mp3" />
		<source src="/music/I Have A Dream-Connie Talbot.mp3" />
		<source src="/music/If You're Happy and You Know It-Susie Tallman.mp3" />
		<source src="/music/Kookaburra-Susie Tallman.mp3" />
		<source src="/music/Kuschel Song-Schnuffel.mp3" />
		<source src="/music/La Isla Bonita-Holly Dolly.mp3" />
		<source src="/music/Little Red Caboose-Kidsongs.mp3" />
		<source src="/music/Lollipop-Holly Dolly.mp3" />
		<source src="/music/Moon River-The Innocence Mission.mp3" />
		<source src="/music/Oranges And Lemons-Countdown Kids.mp3" />
		<source src="/music/Pearl and Potatoes-Ladylike Lily.mp3" />
		<source src="/music/She'll be Coming Round The Mountain-Disney.mp3" />
		<source src="/music/Twinkle, Twinkle, Little Star-Disney.mp3" />
	</audio>
</body>
</html>